fastapi
uvicorn
sqlalchemy
pandas
gunicorn
SQLAlchemy
mysql-connector-python
python-jose
passlib[bcrypt]
python-multipart
mysqlclient
google-generativeai
joblib
xgboost
numpy
scikit-learn
python-dotenv


